/*general changes to body and text*/

body {
  font-family: "Poppins", sans-serif;
  line-height: 2em;
  text-align: justify;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: palevioletred;
  font-weight: 600;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #99b19c;
  margin: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 2em;
  text-decoration: underline #c1c4c7;
  text-underline-position: under;
}

h1:hover {
  text-decoration: underline #313639;
  text-underline-position: under;
}

h2 {
  font-size: 1.5em;
}

/*header image*/

.img-fluid {
  width: 100%;
}

/*introductory section*/

.introduction {
  display: flex;
  flex-direction: column;
}

/* guide */

.guide {
  margin-bottom: 30px;
  padding: 30px;
  overflow: hidden;
}

.media-body {
  margin-left: 20px;
}

/* image copyright text */

.copyright {
  color: lightgray;
  width: 400px;
  font-size: 0.75em;
}

/* overriding boostrap on home images */

footer {
  display: flex;
  justify-content: center;
}
